$menuBreakpoint: 768px;

#my-first {
  .paz-menu{
    padding-right: 16px;
    cursor: pointer;
    float: right;
    display: none;
    @media (max-width: $menuBreakpoint) {
      display: block;
    }
  }
  .inner-header{
    border-top: 0.5px solid #FFFFFF;
    border-bottom: 0.5px solid #FFFFFF;
    ul{
      margin-bottom: 0rem;
      padding-left: 0rem !important;
      .menu {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width: $menuBreakpoint) {
          display: none;
          &.is-open {
            display: block;
            position: absolute;
            top: #{60px + 2};
            background: #fff;
            width: 100%;
            .menu-item {
              border-bottom: 1px solid #cccccc;
            }
          }
        }
    
        .menu-item {
          padding: 0 10px;
          height: 60px;
          line-height: 60px;
          text-decoration: none;
          display: block;
          text-transform: uppercase;
        }
      }
    }
  }
  .paz-social {
    column-gap: 24px;
    margin-right: 90px;
  }
}
