<div class="banner-section">
    <app-header></app-header>
    <div class="row">
        <div class="col-sm-12 col-md-5 rectangle-home">
            <h5 class="sub-heading">KHAWAJA YANNI</h5>
            <h3 class="heading">The new era of luxury</h3>
            <p class="paz-primary-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic eius repellat quae tenetur quis error.</p>
            <button class="paz-btn-primary">
                Book reservation now ->
            </button>
        </div>
        <div class="col-sm-12 col-md-7"></div>
    </div>
</div>
<div class="section-2">
    <div class="container">
       <div class="section-2-content">
        <h3 class="heading text-center">Mall Of Endless Possibilities</h3>
        <p class="paz-primary-paragraph text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint architecto omnis distinctio ipsum debitis ullam quibusdam similique repellendus
         vitae cum culpa temporibus obcaecati, mollitia voluptates ratione beatae nulla? Ipsa, pariatur!</p>
        <div class="back-ground-video">
            <div class="white-circle">
                <img class="white-circle-img" src="assets/images/peuze-btn.svg" alt="">
            </div>
        </div>
        <div class="paz-just-content-card mt-4">
            <div class="row d-flex align-items-center justify-content-between">
                <div class="col-sm-12 col-md-8">
                    <div class="nav-item">25 SR/GUEST</div>
                      <h3 class="sub-heading">Mall Of Endless Possibilities</h3>
        <p class="paz-primary-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint architecto omnis distinctio ipsum debitis ullam quibusdam similique repellendus
         vitae cum culpa temporibus obcaecati, mollitia voluptates ratione beatae nulla? Ipsa, pariatur!</p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <img style="float: right;" src="assets/icons/arrow.svg" alt="">
                </div>
            </div>
        </div>
       </div>
    </div>
</div>
<div class="section-3">
    <div class="container">
       <div class="section-2-content">
        <h3 class="heading text-center">Experience the Finest cuisine</h3>
        <p class="paz-primary-paragraph text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint architecto omnis distinctio ipsum debitis ullam quibusdam similique repellendus
         vitae cum culpa temporibus obcaecati, mollitia voluptates ratione beatae nulla? Ipsa, pariatur!</p>
         <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="paz-content-card">
                    <img width="100%" src="assets/images/card-img-1.png" alt="card-1">
                    <div class="row d-flex align-items-center justify-content-between py-2 px-2">
                        <div class="col-sm-12 col-md-8">
                            <h3 class="sub-heading">Veda Varu</h3>
                            <button class="paz-btn-primary">10 SR PER GUEST</button>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <img style="float: right;" src="assets/icons/arrow.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 ">
                <div class="paz-content-card">
                    <img width="100%" src="assets/images/card-img-2.png" alt="card-2">
                    <div class="row d-flex align-items-center justify-content-between py-2 px-2">
                        <div class="col-sm-12 col-md-8">
                            <h3 class="sub-heading">Akbar Ali restur</h3>
                            <button class="paz-btn-primary">10 SR PER GUEST</button>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <img style="float: right;" src="assets/icons/arrow.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 pt-4">
                <div class="paz-content-card">
                    <img width="100%" src="assets/images/card-img-3.png" alt="card-3">
                    <div class="row d-flex align-items-center justify-content-between py-2 px-2">
                        <div class="col-sm-12 col-md-8">
                            <h3 class="sub-heading">ZAM ZAMU</h3>
                            <button class="paz-btn-primary">10 SR PER GUEST</button>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <img style="float: right;" src="assets/icons/arrow.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 pt-4">
                <div class="paz-content-card">
                    <img width="100%" src="assets/images/card-img-4.png" alt="card-4">
                    <div class="row d-flex align-items-center justify-content-between py-2 px-2">
                        <div class="col-sm-12 col-md-8">
                            <h3 class="sub-heading">Khawaj yanni</h3>
                            <button class="paz-btn-primary">10 SR PER GUEST</button>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <img style="float: right;" src="assets/icons/arrow.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
         </div>
         <app-image-slider [carouselOptions]="carouselOptions" [images]="images"></app-image-slider>
       </div>
    </div>
</div>
<app-footer></app-footer>